/*///////////////  CONTACT.HTML CSS FÁJL /////////////// 

/* Általános Beállítások */
@import url(style.css);

section{
    max-width: 1200px;
    margin: 4rem auto;
}

.contact-h3{
    color: var(--title-blue);
    margin: 1rem 0 .5rem 0;
    font-size: 1.1rem;
}

/* Bolt elérhetőség */
.shop-card{
    background-color: white;
    box-shadow: 0 0 30px 5px rgba(0,0,0,8%);
    border-radius: 30px;
    border: 1px solid #e3e6ea;
    margin: 2rem 0;
    padding: 2rem;
    
}

.shop-card p{
    color: var(--title-blue);
    font-size: 1rem;
}

.nyitvatartas{
    display: flex;
    gap: 10px;
}

.google-map :nth-child(1){
    border-radius: 30px;
}

/* Szervízfutár elérhetőség */

.shipping-card{
    background-color: white;
    box-shadow: 0 0 30px 5px rgba(0,0,0,8%);
    border-radius: 30px;
    border: 1px solid #e3e6ea;
    margin: 2rem 0;
    padding: 2rem;
}
.shipping-card p{
    color: var(--title-blue);
    font-size: 1rem;
}
.shipping-card a{
    margin-top: 1rem;
}


@media screen and (max-width: 768px) {
    
    .shop-card{
        padding: 1rem;
    }
    .nyitvatartas{
        gap: 5px;
    }
}